NODE_ENV=development
PORT=4000
APP_NAME=web quan ao

CLIENT_URL=http://localhost:3000
CORS_ORIGINS=

MONGODB_URL=

# ===== Auth =====
JWT_SECRET=
REFRESH_SECRET=

VNPAY_TMN_CODE=
VNPAY_SECRET_KEY=

EMAIL=
MJ_APIKEY=
MJ_SECRET_KEY=
SMTP_HOST=
SMTP_PORT=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

